.authForm{
  max-width: 500px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.authForm fieldset{
  border: none;
}
.authForm legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.authForm label {
  display: block;
  margin-bottom: 8px;
}
.authForm input[type="text"],
.authForm input[type="date"],
.authForm input[type="datetime"],
.authForm input[type="email"],
.authForm input[type="password"],
.authForm input[type="number"],
.authForm input[type="search"],
.authForm-5 input[type="time"],
.authForm input[type="url"],
.authForm textarea,
.authForm select {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color:#8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;

}
.authForm input[type="text"]:focus,
.authForm input[type="date"]:focus,
.authForm input[type="datetime"]:focus,
.authForm input[type="email"]:focus,
.authForm input[type="password"]:focus,
.authForm input[type="number"]:focus,
.authForm input[type="search"]:focus,
.authForm input[type="time"]:focus,
.authForm input[type="url"]:focus,
.authForm textarea:focus,
.authForm select:focus{
  background: #d2d9dd;
}
.authForm select{
  -webkit-appearance: menulist-button;
  height:35px;
}
.authForm .number {
  background: #1abc9c;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 15px 15px 15px 0;
}

.enterBtn
{
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  margin: 0 auto;
  background: #1abc9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  //border-width: 1px 1px 3px;
  margin-bottom: 10px;
  &:hover {
    background: #109177;
  }
}


.regBtn {
  @extend .enterBtn;
  background: #1AADE0;
  &:hover {
    background: #1A81E0;
  }
}

.Link {
  &:hover {
    text-decoration: none;
  }
}

.errorLabel {
  color: red;
}

.inValidInput {
  border: 1px solid red !important;
}

.checkBox {
  font-size: 17px;
  margin-bottom: 15px;
}
